@import url(header.css);
@import url(hero.css);
@import url(footer.css);
@import url(form.css);
@import url(mainHome.css);
@import url(profile.css);
@import url(gardenProfile.css);
@import url(register.css);
@import url(servicesGarden.css);

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

:root {
  --color-btnGreen: #0b320c;
  --color-circle: #000000;
  --color-header: #191919;
  --color-footer: #191919;
  --color-font: #056564;
  --color-form: #f5ebcfed;
}

/*fonts:*/
@font-face {
  font-family: titles;
  src: url(../fonts/ROMANTICE.otf);
}

@font-face {
  font-family: headers;
  src: url(../fonts/Quicksand_Book.otf);
}

@font-face {
  font-family: footer;
  src: url(../fonts/NewYork\ PERSONAL\ USE.otf);
}
