@import url(header.css);

@import url(hero.css);
@import url(footer.css);
@import url(form.css);
@import url(home.css);
@import url(profile.css);

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: initial;
}

html {
  
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

:root {
  --color-circle: #8C6239;
  --color-header: #3A2D19;
  --color-footer: #2F4922;
  --color-font: #056564;
  --color-form: #9D8D7F /*color inputs formulario*/
}
