.form_main {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(https://cdn.dribbble.com/users/6024852/screenshots/16232911/media/54a1f06f2c4fb1a591f7ba2124f464d7.png?compress=1&resize=800x600&vertical=top);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}
.form_container {
  margin: 9em;
  padding: 2em 1em 2em 1em;
  height: 50rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(5, 5, 5, 0.733);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  min-width: 20em;
  border-radius: 1rem;
}

.form_hero {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px rgb(234, 252, 234);
  text-shadow: 2px 2px 20px rgb(0, 0, 0);
  color: var(--color-form);
  padding: 0.8em;
}

.error-text {
  font-weight: 900;
  color: rgb(247, 82, 5);
  text-shadow: 1px 1px 15px rgb(5, 0, 0);
}

form {
  margin: 1em auto 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gf-form-label {
  padding: 0.8em;
  font-size: large;
  width: 100%;
  color: var(--color-form);
  font-weight: bolder;
  text-shadow: 1px 1px rgb(2, 2, 2), -1px -1px #333;
  border-radius: 0.4rem;
  padding-left: 0.5em;
}

.gf-btn_form {
  margin-top: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: var(--color-btnGreen);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 3%;
}

.gf-btn_form:hover {
  background-color: var(--color-font);
}

.gf-inputext {
  padding: 4%;
  width: 28em;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
  background-color: var(--color-form);
  color: black;
}
.gf-titleform {
  font-size: 1.5em;
  padding: 0.4em;
  display: flex;
  text-align: center;
  color: white;
  font-family: Title;
  justify-content: center;
}

@media (max-width: 1800px) {
  .form_container {
    background: linear-gradient(
      180deg,
      rgba(9, 7, 17, 1) 2%,
      rgba(20, 41, 26, 0.604079131652661) 77%,
      rgba(240, 200, 73, 1) 100%
    );
    height: 30em;
    width: 28em;
    border: none;
  }
}
