@font-face {
  font-family: romantice;
  src: url(../fonts/ROMANTICE.otf);
}

.background {
  background-image: url(../img/garden.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  /*position: absolute;*/
}

.containerFormGarden {
  border-radius: 0.2rem;
  border: 1px #807a85 solid;
  background-color: #dbcfe6;
  max-width: 40%;
  height: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 30%;
  top: 4vw;
  position: relative;
  
}

.title {
  font-family: romantice;
  font-size: 4vh;
  width: 100%;
  height: 40vh;
  padding: 10% 0% 10% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/formBanner.png);
  background-size: 100%;
}

.content {
  background: rgb(207, 194, 186);
  padding: 5%;
}
.error-text{
  font-weight: 600;
  color:red;
}
.form {
  position: relative;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 5%;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 2%;
}

label {
  padding: 0.25em 0.25em 0.25em 0;
  display: inline-block;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
  background-color: var(--color-form);
  color: black;
}

button {
  background-color: var(--color-form);
  color: white;
  padding: 3%;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  float: right;
  margin: 3%;
}

button:hover {
  background-color: #807a85;
}



/*.containerFormGarden {
    border-radius: 0.2rem;
    border: 1px #807a85 solid;
    background-color: #dbcfe6;
    max-width: 87%;
    height: 5%;
    display: flex;
    flex-direction: column;
    /* margin-left: 5%; */
    /* margin-bottom: 30%; 
    top: 4vw;
    position: relative;
}*/


 /* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {
  .containerFormGarden {
   
    max-width: 87vw;
 

    /* margin-left: 5%; */
   
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .containerFormGarden {
   
    max-width: 90vw;
 

    /* margin-left: 5%; */
   
}
}