.garden_profile {
  display: flex;
  justify-content: center;
}
.garden_grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 1.5rem;
  justify-content: center;
}
.garden_profile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  margin: 2em 0em 2em 3em;
  padding: 1em;
  background: #f3f0d5;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.garden_profile-info {
  margin: 0.2em;
}

.garden_profile_box img {
  border-radius: 50%;
  width: 40%;
}

.garden_iframe {
  border-radius: 20px;
  height: 24em;
  margin: 2em 3em 2em 0em;
  width: 720px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.garden_create-service {
  margin-top: 1em;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 2em;
  border: none;
  background: #1f4b30;
  box-shadow: 0 5px #0b2513;
}

.garden_create-service:hover {
  box-shadow: 0 3px #0b5a8e;
  top: 1px;
}
/*card plus servide*/

.card-service_moreService{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  flex: 1;
  margin: 20px;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4),
    0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: rgb(245, 245, 245);
}

.card-service_plus-gif{
 margin-top: 1em;
 height: 2em;
 width: 2em; 
}
.card-service_moreService{
  background-image: url(../img/bg-gardenLogin.png);
}
.card-service_plus{
  background-color: rgb(221, 253, 221);
  height: 14vh;
  width: 14vh;
  border-radius: 50%;
  border: none;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Feather-core-plus-circle.svg/1024px-Feather-core-plus-circle.svg.png);
  background-size: cover;
  opacity: .8;
}
.card-service_plus:hover{
  background-color: rgb(221, 253, 221);
  height: 13.4vh;
  width: 13.4vh;
  box-shadow: 0 4px 10px rgba(3, 75, 59, 0.4),
  0 5px 15px rgba(40, 240, 14, 0.1);
  opacity: .9;
}

@media (max-width: 992px) {
  .garden_profile_box {
    margin-top: 3em;
    position: absolute;
    border: solid 3px rgb(192, 183, 183);
    background-color: rgb(248, 242, 231);
    height: 20em;
  }

  .garden_map_box {
    margin-top: 0;
    background: radial-gradient(
      circle,
      rgba(228, 241, 232, 0.28166915052160957) 41%,
      rgba(223, 233, 225, 0.30849478390461993) 45%,
      rgba(244, 240, 240, 0.8194444444444444) 75%,
      rgba(254, 255, 255, 1) 90%
    );
    box-shadow: none;
    border-radius: 0;
    height: 26em;
  }

  .garden_iframe {
    width: 520px;
    border: 3em solid t;
    border-radius: 0;
    height: 23em;
    position: relative;
    z-index: -1;
    background-color: rgb(214, 198, 177);
  }

  .garden_profile {
    margin: 0;
    padding: 0;
  }
}
