.garden_profile {
  display: flex;
  justify-content: center;
}

.garden_profile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  margin: 2em 0em 2em 3em;
  background: #f8f8f8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(185, 174, 174, 0.25), inset -5px -5px 10px #fffdfd;
  border-radius: 20px;
}
.garden_profile-info {
  margin: 0.2em;
}

.garden_profile_box img {
  border-radius: 50%;
  width: 40%;
}

.garden_map_box {
  margin: 2em 3em 2em 2em;
  background: #f8f8f8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(185, 174, 174, 0.25), inset -5px -5px 10px #fffdfd;
  border-radius: 20px;
}

.garden_iframe {
  border-radius: 20px;
  height: 20vh;
  margin: 2em 3em 2em 3em;
  width: 720px;
}

.garden_create-service {
  margin-top: 1em;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 2em;
  border: none;
  background: #1f4b30;
  box-shadow: 0 5px #0b2513;
}

.garden_create-service:hover {
  box-shadow: 0 3px #0b5a8e;
  top: 1px;
}

@media (max-width: 992px) {
  .garden_profile_box {
    margin-top: 3em;
    position: absolute;
    border: solid 3px rgb(192, 183, 183);
    background-color: rgb(248, 242, 231);
    height: 20em;
  }

  .garden_map_box {
    margin-top: 0;
    background: radial-gradient(
      circle,
      rgba(228, 241, 232, 0.28166915052160957) 41%,
      rgba(223, 233, 225, 0.30849478390461993) 45%,
      rgba(244, 240, 240, 0.8194444444444444) 75%,
      rgba(254, 255, 255, 1) 90%
    );
    box-shadow: none;
    border-radius: 0;
    height: 26em;
  }

  .garden_iframe {
    width: 520px;
    border: 3em solid t;
    border-radius: 0;
    height: 23em;
    position: relative;
    z-index: -1;
    background-color: rgb(214, 198, 177);
  }

  .garden_profile {
    margin: 0;
    padding: 0;
  }
}
