/* .garden_profile {
  display: flex;
  justify-content: center;
}

 
 
}
.garden_profile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 15em 2em 3em;
  width: 20em;
  background: #fff;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgb(0 0 0 / 40%), 0 5px 15px rgb(0 0 0 / 10%);
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  height: 25vw;
  background-image: url(../img/farm.jpg);
  background-repeat: no-repeat;
  background-size: contain;

     
  
  padding: 1em;
  background: #d5f3f3;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  
}

.main_profile {
  margin-top: 0.5em;
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: flex;
  line-height: 1.2;
  font-style: oblique;
  color: #083131;
  margin-right: 2.3em;
}
.garden_profile-info {
  margin: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  padding-right: 18%;
  color: whitesmoke;
  text-shadow: 0.05em 0.04em 0.05em rgb(59, 36, 58);
  display: flex;
  align-self: flex-start;
  margin-left: 2.9em;
}

.profile-logo{
  width: 5em;
  display: flex;
  margin-right: 11em;
  margin-top: 1.8em;
  position: relative;
}
.garden_profile_box img {
  margin-top: 0.4em;
  margin-right: 3em;
  border-radius: 50%;
  width: 40%;
  border-width: 6px;
  border-style: inherit;
  border-color: white;
  background-color: #b5cfcf;

}
.fa-quote-right {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  color: var(--color-footer);
  opacity: 0.1;
}

.garden_iframe {
  border-radius: 20px;
  height: 24em;
  margin: 2em 3em 2em 0em;
  width: 720px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.garden_create-service {
  margin-top: 1em;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 2em;
  border: none;
  background: #1f4b30;
  box-shadow: 0 5px #0b2513;
}

.garden_create-service:hover {
  box-shadow: 0 3px #0b5a8e;
  top: 1px;
} */
/*card plus servide*/
.garden_grid-container{
  min-height: 30vh; 
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  grid-gap: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left:15%;
  justify-content: start;
}

.card-service_moreService{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh; /**/
  /* margin: 20px; */
  width: 100%;
  min-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4),
    0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  /* background-color: rgb(168, 238, 159); */
  background-image: url(../img/farm.jpg);
  background-size: cover;
}

.card-service_plus{
  background-color: rgb(253, 224, 166);
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Feather-core-plus-circle.svg/1024px-Feather-core-plus-circle.svg.png);
  background-size: cover;
  opacity: 0.8;
}
.card-service_plus:hover{
  background-color: rgb(240, 197, 78);
  height: 10.1vh;
  width: 10.1vh;
  box-shadow: 0 4px 10px rgba(3, 75, 59, 0.4),
  0 5px 15px rgba(40, 240, 14, 0.1);
  opacity: .9;
}

@media (max-width: 992px) {
  .garden_grid-container{
    margin:3rem;
    justify-content: center;
  }
  
 /* mapa en responsive o sin mapa???????????????????????*/
  .map-iframe {
 display: none;
  }

  .garden_profile {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 554px) {
  .garden_profile {
    display: flex;
    justify-content: center;
    
  }
}