.containerHeader {
  cursor: not-allowed;
  display: flex;
  align-items: center;
  background-color: var(--color-header);
  width: 100%;
  min-height: 90px;
}

.logoHeader {
  margin-left: 3rem;
  height: 5rem;
  padding: 1rem;
}

.boxNav {
  padding: 1rem;
  cursor: pointer;
  flex: 2;
  display: flex;
  justify-content: start;
  margin-left: 33rem;
}

.navList {
  list-style: none;
  text-decoration: none;
  color: antiquewhite;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.separator {
  padding: 1rem;
  color: antiquewhite;
}

.headerSpan {
  display: none;
}

@media (max-width: 1194px) {
  .headerSpan {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  .logoHeader {
    height: 5rem;
    padding: 1rem;
    border-radius: 1.6em;
  }
  .boxNav {
    padding: 1rem;
    cursor: pointer;
    flex: 2;
    display: flex;
    justify-content: start;
  }

  .navList {
    list-style: none;
    text-decoration: none;
    color: antiquewhite;
    padding: 1rem;
  }
  .separator {
    padding: 1rem;
    color: antiquewhite;
  }

  .headerSpan {
    display: none;
  }
}
@media (max-width: 1194px) {
  .headerSpan {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  .menu {
    height: 5rem;
    padding: 1rem;
    border-radius: 1.6em;
    margin-left: 30em;
  }
  .boxNav {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    margin-left: 16em;
  }
}

@media (max-width: 568px) {
  .menu {
    margin-left: 10em;
  }
}
@media (max-width: 368px) {
  .menu {
    margin-left: 8em;
  }
}
