/*.container-slider {
  /*max-width: 700px;*/
  /* max-width: 700px; 
  height: 409px;
  margin: 0% auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}*/
.container-slider {
  /* max-width: 700px; */
  /* max-width: 700px; */
  height: 409px;
  margin: 1% 1% 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  border-radius: 36px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
  
  
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

/*.btn-slide {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #f7f5f405;
  border: 1px solid #fffafa05;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}*/

.btn-slide {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background: #f7f5f405;
  border: 1px solid #fffafa05;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent !important;
}

.btn-slide:hover img {
  visibility: visible;
  width: 2vw;
  height: 2vw;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(236, 164, 131);
}
@media screen and (max-width: 450px){
  .container-slider {
    margin: 2.5% 2.5% 0;
    height: 280px;
  }
}
@media screen and (max-width: 768px){
  .container-slider {
    margin: 2% 2% 0;
    height: 367px;
  }
}