.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-gardenLogin.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
 
    height:90vh;
   
}
.login_card{
    
 display: flex;
 justify-content: start;
 align-items: center;
 flex-direction: column;

    background:rgba(253, 254, 255, 0.918);
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
    border-radius: .5rem;
   height: 30em;
    width: 50vh;
    
}
.form_login{
    display: flex;
    height: 20vh;
    margin: 0;
    padding: 0;
}
.login_card h1{
    margin: 1.3em;
    
}

.label_login{

}
.input_login{
   
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    resize: vertical;
    background-color: #f5fffced;
    color: black;
}

.form_login-name {
    
    width: 10em;
    height: 5em;
}
.form_login-password{
  
    width: 10em;
    height: 5em;
}