.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-gardenLogin.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
 
    height:90vh;
   
}
.login_card{
    
 display: flex;
 justify-content: start;
 align-items: center;
 flex-direction: column;

    background:rgba(253, 254, 255, 0.918);
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
    border-radius: .5rem;
    height: 22em;
    width: 53vh;
    
}
.form_login{
    display: flex;
    height: 10vh;
    margin: 0;
    padding: 0;
}
.login_card h1{
    margin: 1.3em;
    
}

.login_gif{
    margin-top: 0.4em;

}
.btn_form_login{
    background: var(--color-btnGreen);
  color: white;
  padding: 2%;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  float: right;
  margin-top: 1.5em;
  cursor: pointer;
  letter-spacing: 2.5px;
  z-index:9;
}
.btn_form_login:hover {
    background-color: var(--color-font);
  }
.input_login{
   
    border: 1px solid #dcd8d8;
    border-radius: 0.25rem;
    box-sizing: border-box;
    resize: vertical;
    background-color: #f5fffced;
    color: black;
    width: 16em;
    height: 2.3em;
}

.form_login-name {
    display: flex;
    width: 100%;
  
}

.form_login-password{
    display: flex;
    width: 100%;
    margin-top: 1em;
  
}
.label_login{
    flex: 1;

}
.input_login{
    flex:2;
}