/*.circle {
  height: 80vh;
  width: 150vh;
  background: #8c6239;
  
  display: flex;
  position: relative;
  -webkit-clip-path: circle(75.3% at 74% 72%);
  clip-path: circle(75.3% at 74% 82%);
  left: 20%;
  
}*/
.gridProfile { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  position: relative;
  margin-top: 4em;
  margin-bottom: 4em;
  justify-content: space-around;
  
  }
/*.gridProfile > .articleProfile {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
*/
.gridProfile > .articleProfile .ifraMap {
  max-width: 80vw;
  height: 25vw;
}


.gridProfile > .articleProfile:nth-child(1) {
  grid-column: span 2;
}
.container-mainprofile {
  display: flex;
  height: 50vw;
  flex-wrap: wrap;
}

.mainprofile-cardmap {
  width: 55vw;
  height: 60vh;
  margin-left: 40px;
  top: 50px;
  bottom: 50px;
  background: #00000040;
  border: 6px solid #9d8c7d;
  box-sizing: border-box;
  border-radius: 26px;
  display: block;
  
}
/*mapa*/
.map-local {
  position: relative;
  display: flex;
  width: 26vw;
  height: 25vw;
  left: 34px;
  top: 23px;
  /*background: red;*/
  border: 2px solid #ffffff;
  box-sizing: border-box;
}


.ifraMaping {
  width: 26vw;
  height: 23rem;
  border: 4px solid #cca36b;
  box-sizing: border-box;
  border-radius: 3px;
}

.map-perfil {
  padding: 0 5px 0 5px ;
  margin-left:-1%;
  font-size: 0.9em;
  margin:0;
}
.articleDescription {
  width: 20vw;
  height: 28vw;
  /*background: pink;*/
  margin-top: 5%;
  margin-left: 18vw;
}


.gridProfile > .articleDescription {
  grid-column: span 2;
}
ul.dentro {
  list-style-position: inside;
  padding: 6.5px;
  list-style-type: none;
}
.gridProfile > .articleLogin:nth-child(1) {
  grid-column: span 2;
}
.articleLogin{
 
  display: flex;
  
  color: #8c6239;
  font-size: larger;
  line-height: 2em;
  width: 10%;
  min-width: 16em;
  
  height: auto;
  top: 29em;
  background: #dddddd70;
  border: 6px solid rgba(157, 140, 125, 0.25);
  border-radius: 26px;
  

 }



.textLogin{
  padding: 0 10px 10px;
  margin-left:5%;
  margin-top: 5%;
  font-size: 1em;
  
}

  /* Extra Small Devices, Phones */ 
  @media (max-width : 480px) {
    .gridProfile {
      
      grid-gap: 0;
     
  }
  }
  @media (max-width : 610px) {
    .gridProfile {
      
      grid-gap: 0;
     
  }
    
    .map-local{
        width: 34vw;
        height: 73vw;
    }
    
      
    
    .mainprofile-cardmap {
      height: 111vw;
    }
    .ifraMaping {
      width: 34vh;
      
  }
  .articleLogin {
    
    margin-bottom: 1em;
    margin-left: 23vw;
    
}

  }
  /* Small Devices, Tablets */
  @media (max-width : 768px) {
    .mainprofile-cardmap {
      height: 65vh;
      width: 89vw;
    }
    .articleDescription {
      height: 63vw;
      width: 50%;
      margin-top:7%;
      
    }
    .ifraMaping {
      width: 42vw;
      height: 29rem;
    }
    
    
  }

  /* Medium Devices, Desktops */
  @media (max-width : 992px) {
    
    .mainprofile-cardmap {
      height: 65vh;
      
  }
    .ifraMaping {
      width: 26vw;
      height: 26rem;
    }
    
   
    .articleDescription {
      height: 42vw;
      margin-left: 22%;
    }
    /*para prueba*/
    
   

  }
