.profileUserHero {
  padding: 2em 3em 2em 3em;
  background: rgba(115, 121, 114, 0.116);
}

.logoUser{
  height: 5rem;
  padding: 1rem;
}



.articleDescription {
  width: 20vw;
  height: 28vw;
  /*background: pink;*/
  margin-top: 5%;
  margin-left: 18vw;
}

.gridProfile > .articleDescription {
  grid-column: span 2;
}
ul.dentro {
  list-style-position: inside;
  padding: 6.5px;
  list-style-type: none;
}
.gridProfile > .articleLogin:nth-child(1) {
  grid-column: span 2;
}
.articleLogin {
  display: flex;

  color: #8c6239;
  font-size: larger;
  line-height: 2em;
  width: 10%;
  min-width: 16em;

  height: auto;
  top: 29em;
  background: rgba(255, 255, 255, 0.589);
  border-bottom: 6px solid rgba(157, 140, 125, 0.25);
  border-radius: 26px;
}

.textLogin {
  padding: 0 10px 10px;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 1em;
  font-family: headers;
}

/* Extra Small Devices, Phones */

@media (max-width: 610px) {
  .articleLogin {
    min-width: 26em;
    border: none;
  }
}

/* Medium Devices, Desktops */
@media (max-width: 992px) {
  .articleDescription {
    height: 42vw;
    margin-left: 22%;
  }
  /*para prueba*/
}
