.containerRegister {
  display: flex;
  align-content: space-between;
  align-items: stretch;

  background-image: url(../img/Rectangle.svg);
  background-size: cover;
  background-position: 0% 0%;

  background-image: url(../img/Rectangle.svg);
  background-size: cover;
  background-position: 4% 0%;
}

.imgRegister {
  background-image: url(../img/imgForm.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 60%;
  height: 100vh;
}

.contentRegister {
  border-radius: 0.4rem;
  border: 1px #807a85 solid;
  background-color: #dbcfe6;
  max-width: 60%;
  height: 5%;
  margin-left: 5%;
  margin-bottom: 20%;
  margin-right: 5%;
  background: rgb(207, 194, 186);
  padding: 5%;
  top: 10vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.titleRegister {
  font-family: titles;
  font-size: 4vh;
}

.formRegister {
  position: relative;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 5%;
  margin-right: 2%;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 2%;
}

label {
  padding: 0.25em 0.25em 0.25em 0;
  display: inline-block;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
  background-color: var(--color-form);
  color: black;
}

button {
  background-color: var(--color-form);
  color: white;
  padding: 3%;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  float: right;
  margin: 3%;
}

button:hover {
  background-color: #807a85;
}

@media only screen and (max-width: 480px) {
  .containerRegister {
    max-width: 87vw;
  }
}

@media only screen and (max-width: 768px) {
  .containerRegister {
    max-width: 90vw;
  }
}
