.card-service{
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif; 
  height: 40vh;/* */
  padding: .5em;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4),
    0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.card-service_title{
  display: flex;
  justify-content: center;
  background-image: url(../img/farm.jpg);
  background-size: cover;
 padding: .5em;
  font-size: 2em;
  opacity: 0.8;
  border-radius: 6px;
}
.card-service_info{
  
  margin: 2em 0 0 2em;
  font-size: 1.2em;
}
.card-service_btn{

  display: flex;
  align-items: center;
  justify-content: end;
  margin: -2em 2em 1em 0;
}



.btn-service_delete img{
 width: 2.4em;
 height: 2.3em;
 margin-top: 1.4em;
 padding: 0;
 background-color: rgb(240, 197, 78);
}
.btn-service_delete img:hover{
  box-shadow: 0 4px 10px rgb(240, 197, 78),
  0 5px 15px rgba(248, 62, 5, 0.986);

  border-radius: 0.5rem;
 }
