.card-service{
  height: 20vh;
  margin: 20px;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4),
    0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.card-service_title{
  display: flex;
  justify-content: center;
  background-image: url(../img/bg-gardenLogin.png);
 padding: .5em;
  font-size: 2em;
}
.card-service_info{
  margin: 2em;
  font-size: 1.2em;
}
.card-service_btn{
  display: flex;
  justify-content:end;
}

.card-service_btnDelete{
  margin-right: 1em;
 
}
.card-service_btnCreate{
  background-color: rgb(17, 0, 255);
  margin-left: 1em;
}
.btn-service_delete img{
 width: 2.4em;
 height: 2.4em;
 margin-top: -1em;
}
.btn-service_delete img:hover{
  box-shadow: 0 4px 10px rgba(206, 31, 8, 0.4),
  0 5px 15px rgba(240, 67, 14, 0.466);
  border-radius: 0.5rem;
 }
